@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');
@font-face{
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
        --cor0: #ebe5c5;
        --cor1: #83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --font-padrao: Arial, Verdana , Helvetica , Sans-serif;
        --font-destaque: 'Bebas Neue', sans-serif;
        --font-android:'Andoid';
}

*{
margin: 0px;
padding: 0px;
}
body {
        background-color: var(--cor0);
        font-family: var(--font-padrao);
    }
    a.externo::after{
        content: '\00A0\1F517';
    }
header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    text-shadow: 20px 2px 0px rgba(0, 0, 0, 0.37);
}
header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 20px 2px 0px rgba(0, 0, 0, 0.37);

    
}
nav{
    background-color: var(--cor5);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.432);
}
nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor3);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    
    
}
main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
 }

main img{
width: 100%;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
   
}
main a {
    text-decoration: none;
    font-weight: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}


aside {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.308) ; 
}
aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
   
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
list-style: inside;
columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a  {
color: white;
font-weight: bold;
text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}



